{{template "header"}} 
    <style type="text/css">     
     body {
       background-image: url(/static/img/p6.jpg);
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: 100% 100%;
     }
    </style>
  </head>



  <body>
    {{template "navbar" .}}

    <div class="container">
      <div class="col-md-9">
        {{range .Topics}}
        <div class="page-header">
          <h1><a href="topic/view/{{.Id}}">{{.Title}}</a>
          <h6 class="text-muted">The paper pulished at {{.Created}}, it had been viewed {{.Views}} times, it had been replyed {{.ReplyCount}} times.</h6>
          <p>
             {{.Content}}
          </p>
        </div>
        {{end}}
      </div>

      <div class="col-md-3">
         <h3>Category</h3>
         <ul class="nav nav-tabs nav-stacked">
            {{range .Categories}}
            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li> 
            {{end}}
         </ul>
      </div>

    </div>
     <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
     <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
