{{template "header"}} 
    <style type="text/css">     
     body {
       width: auto;
       height: auto;
       background-image: url(/static/img/p6.jpg);
       background-color: #000;
       /*-webkit-background-size: 100%;
       -moz-background-size: 100%;*/
       background-size: 100% 100%;
       /*-o-background-size: cover;*/
     }
    </style>
  </head>



  <body>
    {{template "navbar" .}}

    <div class="container">
     <div class="row">
      <div class="col-xs-12 col-md-8">
        {{range .Topics}}
        <div class="page-header">
          <h1><a href="topic/view/{{.Id}}">{{.Title}}</a>
          <h6 class="text-muted">The paper pulished at {{.Created}}, it had been viewed {{.Views}} times, it had been replyed {{.ReplyCount}} times.</h6>
          <p>
             {{.Content}}
          </p>
        </div>
        {{end}}
        <nav>
          <ul class="pagination">
            <li><a href="/?page={{.Pre}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            {{range .Pages}}
            <li {{if .Active}} class="active"{{end}}><a href="/?page={{.Num}}">{{.Num}}</a></li>
            {{end}}
            <li><a href="/?page={{.Next}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
          </ul>
        </nav>
      </div>

      <div class="col-xs-6 col-md-4">
         <h3>Category</h3>
         <ul class="nav nav-tabs nav-stacked">
            {{range .Categories}}
            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li> 
            {{end}}
         </ul>
      </div>

     </div>
    </div>
     <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
     <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

  </body>
</html>
